<p *ngFor="let temp of books">
{{temp.id}}-->>{{temp.name}}  -->> {{temp.author}}
</p>
<hr>
<div style="background-color: aliceblue;padding: 25px;">
  <h4>add new book</h4>
  <label>enter student id</label>
  <input type="number"[(ngModel)]="addId"/>
  <br><br>
  <label>enter name</label>
  <input type="text"[(ngModel)]="addName"/>
  <br><br>
  <label>enter author</label>
  <input type="text"[(ngModel)]="addAuthor"/>
  <br><br>
  <button type="button"(click)="addBook()">add new student</button>

</div>
<div style="background-color: beige;padding:25px;"></div>
<h4>delete books here</h4>
<input type="number"[(ngModel)]="deleteId"/>
<br><br>
<button type="button"(click)="deletebook()">delete book</button>
<hr>
